body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

ul {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
}


#list {
    width: 350px;
    height: 200px;

    margin: 0 AUTO;
    list-style-type: none;
    padding: 10px 10px;
    transition: all 0.3s ease;
    line-height: 200px;
    text-align: center;

    background-color: #51aae5;
    border-radius: 7px;

    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);

    will-change: transform;
}

.container {
    max-width: 100%;
    padding: 1em;
}

.card {
    display: inline-block;

    /*padding: 80px 50px;*/

    line-height: 27px;

    cursor: pointer;
    position: relative;
    background-color: #51aae5;
    color: #fff;
    font-weight: 600;
    font-size: 20px;



    border: 0;
    vertical-align: middle;


}

li:hover{
    transform: scale(1.1);
}

li:nth-child(2n+1) .card{
    background-color: #51aae5;
}

.delete-card {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    opacity: .4;
    transition: all 0.5s ease;
}

.flip-enter-active {
    transition: all 0.4s ease;
}

.flip-leave-active {
    display: none;
}

.flip-enter, .flip-leave {
    transform: rotateY(180deg);
    opacity: 0;

}


label{
    font-weight: 400;
    color: #333;
    margin-right: 10px;
}

input{
    border-radius: 5px;
    border: 2px solid #eaeaea;
    padding: 10px;
    outline: none;
}

button{
    border-radius: 5px;
    border: 1px solid #87cb84;
    background-color: #87cb84;
    padding: 8px 15px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #70a66f;
}

.button-choice{
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    margin: 10px auto 10px auto;

}

.button-choice button{
    width: 150px;
}

.json_check{

}

.card-div{
    display: block;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.end-session{
    margin-left: 90%;
    float: right;
}
